.card_blocks {
    .page_title img {
        width: 60px !important;
        vertical-align: middle !important;
    }
    .table th {
        font-weight: 500;
        font-size: 14px;
    }
    label {
        .error {
            color: #ff0000;
            font-size: 12px;
        }
    }
}